/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body{
  margin: 0;
  padding: 0;
}

header{
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 10vh;
}

nav{
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: rgb(42, 171, 226);
}

h2{

}

h3{

}

h4{

}

ol{

}

li{
  margin: 8px 0;
}

a{
  color: white;
  font-size: 15px;
}

footer{
  position: absolute;
  top: 1010px;
  width: 100vw;
  height: 7%;
  background-color: rgb(42, 171, 226);
  color: black;
}

p{
  font-family: sans-serif;
}

#dev-daily{
 display: flex;
 display-direction: column;
 justify-content: flex-end;
}

#nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 2000px;
}

#container-1{
  width: 46vw;
  margin-left: 10%;

}

#sub-container-2{

}

#sub-container-3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sub-container-4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#container-2{
  margin-top: 30px;
  width: 20vw;
}

#sub-container-5{
  margin: 10px;
  margin-bottom: 30px;
  padding-top: 15px;
  border-radius: 5px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:  0px 0px 10px 10px rgba(102, 75, 75, .3);

}

#sub-container-6{
  margin-left: 10px;
  padding-right: 15px;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow:  0px 0px 10px 10px rgba(102, 75, 75, .3);
  font-size: 12px;
  
}

#popular-articles{
  font-size: 16px;
  margin-bottom: 0;
}

#learn-to-code{
  /* padding-left: 15px; */
}